body {
  font-family: "Kaushan Script", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.navbar {
  z-index: 100;
  a {
    color: white;
  }
  .navbar-brand {
    font-family: "Kaushan Script", cursive;
  }
  .navbar-nav {
    margin-left: auto !important;
    font-family: "robotregular";

    li a {
      color: white;
      font-stretch: normal;
      margin: 5px;
    }
    li {
      text-align: center;
    }
    a.active {
      border-bottom: 2px solid rgb(255, 107, 9);
      border-bottom-right-radius: 0%;
      border-bottom-left-radius: 0%;
      color: #ff6b09;
    }
    li a:hover {
      color: #ff6b09;
    }
  }
}
.modal-header {
  background-color: #3bd3ba;
}
.modal-body {
  text-align: center;
  img {
    margin-bottom: 10px;
    height: 200px;
  }
}
.first-hr {
  border: 1px solid rgb(0, 0, 0);
  width: 20%;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: rgba(255, 255, 255, 0) !important;
}

header {
  background: black url(/images/header.png) center no-repeat fixed;
  height: 600px;
  width: 100vw;
  object-fit: contain;

  .welcome {
    text-align: center;
    font-size: 90px;
    margin-top: 15%;
    font-family: "Kaushan Script", cursive;
  }
  .more {
    margin-top: 80px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid black;
    text-align: 40px;
  }
}
.small-title {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  margin-top: 30px;
  font-size: 20px;
}
.big-title {
  text-align: center;
  font-family: "robotregular";
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer {
  text-align: center;
  margin-top: 1px solid black;
}
.fixed-top.scrolled {
  background-color: rgba(39, 29, 29, 0.795) !important;
  transition: background-color 400ms linear;
}

.container {
  text-align: center;
  padding-bottom: 20px;
  p {
    font-size: 15px;
    color: rgb(161, 161, 161);
  }
  hr {
    border: 1px solid rgb(206, 113, 7);
    width: 20%;
  }
  hr.work {
    border: 0.6px solid rgb(161, 161, 161);
    width: 70%;
  }
  .work {
    color: rgb(161, 161, 161);
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    text-align: left;
    margin-top: 60px;
  }
  .caption {
    margin-top: 30px;
  }
}
.container.two {
  padding-left: 20px;
  padding-right: 20px;
  .image-caption {
    padding-left: 45px;
  }
  img {
    margin-right: 5px;
  }
}
.green {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
  width: 100vw;
  padding: 50px;
  font-family: "Roboto", sans-serif;
  background-color: #3bd3ba;
  color: white;
  .something {
    font-size: 20px !important;
  }
}
.devices {
  background: black url(/images/unique-design-bg.jpg) center no-repeat fixed;
  text-align: center;
  padding-top: 5px;
  height: 815px;
  margin-top: 40px;
  hr {
    border: 1px solid rgb(206, 113, 7);
    width: 200px;
  }
  .ipad {
    z-index: 1001;
  }
  .iphone {
    z-index: 1005;
    margin-left: -100px;
    margin-top: 230px;
  }
}

.card {
  color: black;
  margin: 5px;
  .card-header {
    background-color: white;
    text-align: left;
    padding: 5px;
  }
  .card-body {
    text-align: left;
    font-size: 12px;
  }
}

.quote {
  margin-top: 30px;
  padding-top: 40px;
  background-color: #f5f5f5;
  img {
    border: 2px solid #95e1d3;
    padding: 20px;
    margin-left: 25vw;
  }
  .quote-text {
    margin-left: 100px;
    color: #a1a1a1;
  }
  .bx-wrapper {
    background-color: inherit;
    border: none;
    box-shadow: none;
  }
  .bx-controls {
    display: none;
  }
  .name {
    margin-left: 100px;
  }
}
.brands {
  background-color: #f5f5f5;
  padding: 30px;
}
.gallery {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  p {
    font-size: 15px;
    color: rgb(161, 161, 161);
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;
  }
  hr {
    border: 1px solid rgb(206, 113, 7);
    width: 20%;
  }
  .row img {
    object-fit: contain;
    width: 325px;
  }
  .col-md-3 {
    height: 500px;
  }
  .row img.alone {
    width: 650px;
  }
}

.quote-two {
  margin-top: 30px;
  padding-top: 40px;
  font-size: 20px;
  img {
    width: 150px;
    margin-left: 300px;
  }
  .quote-text {
    margin-left: 100px;
    color: #a1a1a1;
  }
  .bx-wrapper {
    background-color: inherit;
    border: none;
    box-shadow: none;
  }
  .bx-controls {
    display: none;
  }
  .name {
    margin-left: 100px;
  }
}

.they-say {
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
  background: black url(/images/unique-design-bg.jpg) center no-repeat fixed;
  hr {
    border: 1px solid rgb(206, 113, 7);
    width: 20%;
    margin-bottom: 50px;
  }
  .inside {
    border: 1px solid rgb(206, 113, 7);
    width: 10%;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .row {
    margin-bottom: 40px;
  }
  p {
    font-size: 15px;
    color: rgb(161, 161, 161);
  }
}
.blog {
  .img-with-date-1 {
    background-image: url("/images/latest-blog-thumb-001.jpg");
    height: 230px;
  }
  .img-with-date-2 {
    background-image: url("/images/latest-blog-thumb-002.jpg");
    height: 230px;
  }
  .img-with-date-3 {
    background-image: url("/images/latest-blog-thumb-003.jpg");
    height: 230px;
  }
  p {
    text-align: left;
  }
  p.title {
    color: black;
  }
  hr.grey-line {
    border: 0.4px solid rgb(82, 82, 82);
    width: 100%;
  }
  .date-box {
    width: 60px;
    height: 60px;
    background-color: #3bd3ba;
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: "robotregular";
    p {
      color: white;
      text-align: center;
      margin-top: -5px;
    }
  }
}
.map {
  background: black url(/images/map-bg.jpg) center no-repeat;
  padding: 75px;
  text-align: center;
  font-family: "robotregular";
  color: #f38181;
  font-size: 30px;
}
.info {
  padding-top: 60px;
  .headers {
    font-size: 20px !important;
  }
  hr {
    border: 0.4px solid rgb(148, 148, 148);
    width: 100%;
  }
  .left {
    text-align: left;
    p {
      color: #337ab7;
    }
    .logo {
      font-size: 40px;
      margin-bottom: 5px;
      color: #ccc;
    }
    .btn {
      background-color: #3bd3ba;
      color: white;
      border: #3bd3ba;
    }
    .form-control {
      color: #dff0d8;
    }
    .us {
      color: #ccc;
    }
    .followers {
      color: black;
    }
  }
  p {
    font-family: "robotregular";
    text-align: left;
    color: black;
  }
  .instagram {
    .col-md-4 {
      padding: 0px;
    }
  }
  .blogs {
    img {
      padding: 5px;
    }
    p {
      margin-left: 10px;
      font-size: 10px;
    }
    p.date {
      color: #a1a1a1;
    }
  }
}

.grey-line {
  border: 0.4px solid rgb(148, 148, 148);
  width: 80%;
}

footer {
  padding: 40px;
}
